* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: "Proxima Nova", sans-serif;
}
@font-face {
  font-family: "Proxima Nova";
  font-family: "Letrista Script";
  src: url("./assets/fonts/ProximaNova-Regular.woff"),
    url("./assets/fonts/ProximaNova-Bold.woff");
  src: url("./assets/fonts/LetristaScript.otf");
  font-style: normal;
}
.app {
  height: 100vh;
  overflow: hidden;
}
.header {
  width: 100%;
  min-height: 80px;
  display: flex;
}
.header__logo-wrap {
  background-color: #ea2e49;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-wrap img {
  width: 100px;
}
.header__playlist-wrap {
  background-color: #77c4d3;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__playlist {
  display: flex;
  align-items: end;
}
.header__playlist-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.header__playlist-img {
  margin-right: 10px;
}
.header__center-wrap {
  width: 70%;
  display: flex;
  align-items: center;
}
.header__user-bar-wrap {
  width: 50%;
  margin: 0 15px;
}
.header__search-bar-wrap {
  width: 50%;
  margin: 0 15px;
  border: 1px solid rgb(170, 164, 164);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.header__search-bar-input {
  min-height: 50px;
  width: 88%;
  align-items: center;
  outline: none;
  border: none;
}
.header__user-bar-wrap {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__user-bar-icon {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
}
.header__user-bar-name {
  font-size: 16px;
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: bold;
}
.main {
  width: 100%;
  display: flex;
  justify-content: center;
  position: relative;
  height: calc(100vh - 80px);
}
.main__nav,
.main__playlist {
  background-color: #eaeaea;
  width: 15%;
  padding-top: 30px;
  height: 100%;
}
.main__playlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
  position: fixed;
  right: 0;
  height: inherit;
}
.main__nav {
  position: fixed;
  left: 0;
}
.nav__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  min-height: 50px;
  padding: 0 15px;
  cursor: pointer;
}
.nav__item:hover,
.nav__item[active="true"] {
  background-color: #ead7da;
  color: #ea2e49;
}
.nav__item:hover::after {
  content: "";
  position: absolute;
  display: block;
  height: 50px;
  width: 3px;
  background-color: #ea2e49;
  left: 0;
  z-index: 1;
}
.nav__item-endSection {
  margin-bottom: 60px;
}
.nav__img-wrap {
  width: 24px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.nav__text {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}
.playlist__item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;
  padding: 0 25px;
  cursor: pointer;
}
.playlist__items {
  overflow: auto;
}
.playlist__info {
  display: flex;
  flex-direction: column;
}
.playlist__img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 15px;
}
.playlist__song {
  font-size: 16px;
  line-height: 24px;
  color: #1e2029;
  text-transform: capitalize;
}
.playlist__group {
  font-size: 14px;
  line-height: 24px;
  color: #b3b3b3;
  text-transform: capitalize;
}
.content__banner {
  width: 100%;
  padding: 0 15px 15px 15px;
}
.main__content {
  width: 70%;
  overflow: auto;
}
.content__wrap {
  padding: 0 15px 80px 15px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.content__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content__hover-overlay {
  width: 100%;
  height: 100%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.content__hover-overlay:hover {
  opacity: 1;
}

.content__hover-play {
  width: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.content__hover-play:hover {
  width: 53px;
}
.content__hover-info {
  width: 100%;
  height: 100%;
  color: #fff;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.content__hover-rating-wrap {
  text-align: center;
}
.content__hover-rating {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content__hover-rating-hearts {
  display: flex;
  justify-content: start;
}
.content__hover-rating-heart-empty {
  width: 20%;
  height: fit-content;
  margin-left: 5%;
}
.content__hover-rating-heart-white {
  width: 80%;
  height: fit-content;
}
.content__hover-rating-number {
  font-family: "Letrista Script", sans-serif;
  font-size: 28px;
  color: #ea2e49;
}

.content__image-wrap {
  position: relative;
}
.content__image-wrap:hover {
  transform: scale(0.97);
}
.playlist__footer {
  background-color: #e1e1e1;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist__footer img {
  margin-top: 10%;
  width: 50%;
}
.playlist__footer a {
  text-decoration: none;
  border: 1px solid #ea2e49;
  font-size: 18px;
  color: #ea2e49;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
  text-align: center;
}
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 80px;
  width: 100%;
  background-color: #1e2029;
  transform: translate(0, 80px);
}
.player {
  display: flex;
  z-index: 1000;
}
.player__song-info {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
}
.player__menu {
  width: 70%;
  display: flex;
  align-items: center;
}
.player__volume {
  width: 15%;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.player__volume-btn {
  width: 30px;
  transform: translate(0px, 2px);
  cursor: pointer;
}
.player__volume-btn:hover {
  transform: scale(0.85);
}

.player__control {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 15px;
}
.player__control-wrap {
  margin: 0 10px;
  cursor: pointer;
}
.player__control-wrap:hover img {
  transform: scale(0.85);
}
.player__previous-btn,
.player__next-btn {
  width: 20px;
}
.player__pause-btn {
  width: 30px;
}
.player__progress-wrap {
  width: 70%;
  display: flex;
  align-items: center;
  color: #fff;
  padding: 0 15px;
}
.player__progress {
  border-radius: 50%;
  width: 100%;
  height: 8px;
  margin: 0 10px;
  cursor: pointer;
}
.player__progress::-webkit-progress-bar {
  border-radius: 20px;
  background-color: #333745;
}
.player__progress::-webkit-progress-value {
  background-color: #ea2e49;
  border-radius: 20px;
}
.player__progress::-moz-progress-bar {
  border-radius: 20px;
  background-color: #333745;
}
.player__setting {
  width: 15%;
  display: flex;
  align-items: baseline;
  justify-content: center;
  padding: 0 15px;
}
.player__repeat,
.player__random {
  width: 30px;
  margin: 0 15px;
  cursor: pointer;
  opacity: 0.3;
}
.player__repeat:hover,
.player__random:hover {
  transform: scale(0.85);
}
.player__item {
  display: flex;
  align-items: center;
  justify-content: start;
}
.player__info {
  display: flex;
  flex-direction: column;
  overflow: auto;
}
.player__img {
  border-radius: 50%;
  width: 50px;
  object-fit: cover;
  margin-right: 15px;
}
.player__song {
  font-size: 14px;
  line-height: 24px;
  color: #fff;
  text-transform: capitalize;
}
.player__group {
  font-size: 12px;
  line-height: 24px;
  color: #b3b3b3;
  text-transform: capitalize;
}
.player__song,
.player__group {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.player__progress-volume {
  border-radius: 20px;
  width: 100px;
  height: 8px;
  margin: 0 10px;
  cursor: pointer;
}
.player__progress-volume::-webkit-progress-bar {
  border-radius: 20px;
  background-color: #333745;
}
.player__progress-volume::-webkit-progress-value {
  background-color: #77c4d3;
  border-radius: 20px;
}
.player__progress-volume::-moz-progress-bar {
  border-radius: 20px;
  background-color: #333745;
}
.main__nav_burger {
  left: 0 !important;
  z-index: 50;
}
.main__playlist_burger {
  right: 0 !important;
  z-index: 50;
}

.main__content,
.main__nav,
.main__playlist,
.main__nav_burger {
  transition: 0.6s;
}

@media (max-width: 1490px) {
  .nav__text {
    letter-spacing: 0px;
    font-size: 10px;
  }
  .playlist__img,
  .player__img {
    display: none;
  }
  .playlist__item {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .main__nav,
  .main__playlist {
    padding-top: 10px;
  }
  .content__hover-track {
    font-size: 14px;
  }
  .content__hover-rating-number {
    font-size: 18px;
  }
}

@media (max-width: 1024px) {
  .main__playlist {
    right: -100%;
    z-index: 50;
    transition: 0.6s;
  }
  .main__nav {
    left: -100%;
    z-index: 50;
    transition: 0.6s;
  }
  .main__content {
    width: 100%;
  }
  .content__wrap {
    padding: 0 0 80px 0;
  }
  .content__banner {
    width: 100%;
    padding: 0 0 15px 0;
  }
  .header__playlist-img {
    margin: 0;
  }
  .header__logo-wrap img,
  .header__playlist img,
  .header__playlist-text {
    display: none;
  }
  .header {
    width: 100%;
    display: flex;
    min-height: 40px;
  }
  .header__search-bar-input {
    min-height: 25px;
  }
  .header__user-bar-icon {
    width: 30px;
  }
  .main {
    height: calc(100vh - 40px);
  }
  .main_player-mode {
    height: calc(100vh - 120px);
  }
  .playlist__footer_player-mode {
    transform: translate(0, 0) !important;
  }
  .playlist__footer a {
    font-size: 8px;
    padding: 3px;
    width: 80%;
  }
  .content__hover-track {
    font-size: 10px;
  }
  .content__hover-rating-number {
    font-size: 16px;
  }
  .player__current-duration,
  .player__song-duration {
    font-size: 12px;
  }
  .player__repeat,
  .player__random {
    width: 24px;
    margin: 0 7px;
  }
  .player__volume-btn {
    width: 22px;
    transform: translate(0, 6px);
  }
  .player__progress-volume {
    margin: 0 5px;
  }
  .content__hover-play {
    width: 40px;
  }
  .nav__item {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .nav__img-wrap {
    margin: 0 0 5px 0;
  }
  .nav__text {
    font-size: 8px;
  }
  .nav__item-endSection,
  .nav__item,
  .playlist__item {
    margin-bottom: 10px;
  }
  .playlist__item {
    padding: 0 5px;
  }
  .playlist__group,
  .playlist__song {
    font-size: 10px;
    line-height: 12px;
  }
  .header__nav-burger-icon,
  .header__playlist-burger-icon {
    cursor: pointer;
    width: 24px;
    height: 24px;
    background-image: url("./assets/header/burger.png");
    background-repeat: no-repeat;
    background-size: contain;
  }
  .header__nav-burger-icon:hover,
  .header__playlist-burger-icon:hover {
    transform: scale(0.85);
  }
  .player__menu {
    flex-direction: column;
    justify-content: center;
  }
  .player__progress-wrap {
    width: 100%;
  }
  .player__song,
  .player__group {
    font-size: 10px;
    line-height: 14px;
  }
  .player__song-info {
    width: 25%;
    padding: 0 5px 0 5px;
  }
  .player__progress-volume {
    transform: rotate(-90deg);
    width: 65px;
    margin: 0;
    position: fixed;
    right: 0;
  }
  .player__volume {
    justify-content: start;
    padding: 0 30px;
  }
}

@media (max-width: 768px) {
  .header__playlist-text {
    font-size: 12px;
  }
  .player__volume-btn {
    display: none;
  }
  .player__volume {
    width: 10%;
    padding: 0;
  }
  .player__progress-wrap {
    padding: 0;
  }
  .playlist__group,
  .playlist__song {
    font-size: 6px;
    line-height: 8px;
  }
}

@media (max-width: 450px) {
  .header__user-bar-name {
    font-size: 10px;
  }
  ::-webkit-input-placeholder {
    opacity: 0;
  }
  .content__wrap {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
  .header__playlist-text {
    font-size: 8px;
  }
  .player__progress-volume {
    right: -10px;
  }
}

@media (max-width: 360px) {
  .header__logo-wrap img {
    width: 30px;
  }
  .playlist__footer a {
    font-size: 5px;
  }
  .player__current-duration,
  .player__song-duration {
    display: none;
  }
}
