* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
  font-family: "Proxima Nova", sans-serif;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("./assets/fonts/ProximaNova-Regular.woff"),
    url("./assets/fonts/ProximaNova-Bold.woff");
  font-style: normal;
}
.app {
  height: 100vh;
  overflow: hidden;
}
.header {
  width: 100%;
  min-height: 80px;
  display: flex;
}
.header__logo-wrap {
  background-color: #ea2e49;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-wrap img {
  width: 100px;
}
.header__playlist-wrap {
  background-color: #77c4d3;
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__playlist {
  display: flex;
  align-items: end;
}
.header__playlist-text {
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
}
.header__playlist-img {
  margin-right: 10px;
}
.header__center-wrap {
  width: 70%;
  display: flex;
  align-items: center;
}
.header__user-bar-wrap {
  width: 50%;
  margin: 0 15px;
}
.header__search-bar-wrap {
  width: 50%;
  margin: 0 15px;
  border: 1px solid rgb(170, 164, 164);
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
}
.header__search-bar-input {
  min-height: 50px;
  width: 88%;
  align-items: center;
  outline: none;
  border: none;
}
.header__user-bar-wrap {
  display: flex;
  align-items: center;
  justify-content: end;
}
.header__user-bar-icon {
  border-radius: 50%;
  margin-right: 15px;
  width: 50px;
}
.header__user-bar-name {
  font-size: 16px;
  color: #b3b3b3;
  text-transform: uppercase;
  font-weight: bold;
}
.main {
  width: 100%;
  display: flex;
  height: calc(100vh - 160px);
}
.main__nav,
.main__playlist {
  background-color: #eaeaea;
  width: 15%;
  padding-top: 30px;
}
.main__playlist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
.nav__item {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  min-height: 50px;
  padding-left: 15px;
  cursor: pointer;
}
.nav__item:hover,
.nav__item[active="true"] {
  background-color: #ead7da;
  color: #ea2e49;
}
.nav__item:hover::after {
  content: "";
  position: absolute;
  display: block;
  height: 50px;
  width: 3px;
  background-color: #ea2e49;
  left: 0;
  z-index: 1;
}
.nav__item-endSection {
  margin-bottom: 60px;
}
.nav__img-wrap {
  width: 24px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
}
.nav__text {
  text-transform: uppercase;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: bold;
}
.playlist__item {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-bottom: 40px;
  padding: 0 25px;
  cursor: pointer;
}
.playlist__items {
  overflow: auto;
}
.playlist__info {
  display: flex;
  flex-direction: column;
}
.playlist__img {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
  margin-right: 15px;
}
.playlist__song {
  font-size: 16px;
  line-height: 24px;
  color: #1e2029;
  text-transform: capitalize;
}
.playlist__group {
  font-size: 14px;
  line-height: 24px;
  color: #b3b3b3;
  text-transform: capitalize;
}
.content__banner {
  width: 100%;
  padding: 0 15px 15px 15px;
}
.main__content {
  width: 70%;
  overflow: auto;
}
.content__wrap {
  padding: 0 15px;
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 15px;
}
.content__image {
  width: 100%;
  height: 100%;
  cursor: pointer;
  object-fit: cover;
}
.content__image:hover {
  transform: scale(0.97);
  opacity: 0.85;
}

.playlist__footer {
  background-color: #e1e1e1;
  padding-bottom: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.playlist__footer img {
  margin-top: 10%;
  width: 50%;
}
.playlist__footer button {
  border: 1px solid #ea2e49;
  font-size: 18px;
  color: #ea2e49;
  border-radius: 5px;
  background-color: transparent;
  cursor: pointer;
  padding: 5px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  min-height: 80px;
  width: 100%;
  background-color: #1e2029;
}

.footer__player {
}

@media (max-width: 1490px) {
  .nav__text {
    letter-spacing: 0px;
    font-size: 10px;
  }
  .playlist__img {
    display: none;
  }
  .playlist__item {
    justify-content: center;
    text-align: center;
    margin-bottom: 20px;
  }
  .main__nav,
  .main__playlist {
    padding-top: 20px;
  }
}
@media (max-width: 1024px) {
  .nav__text,
  .playlist__info,
  .header__playlist-text {
    display: none;
  }
  .nav__item {
    justify-content: center;
    padding: 0;
    margin: 0;
  }
  .playlist__img {
    display: inline;
    height: 30px;
    width: 30px;
    margin: 0;
  }
  .header__playlist-img {
    margin: 0;
  }
  .header__logo-wrap img {
    width: 50px;
  }
  .header {
    width: 100%;
    display: flex;
    min-height: 40px;
  }
  .header__search-bar-input {
    min-height: 25px;
  }
  .header__user-bar-icon {
    width: 30px;
  }
  .main {
    width: 100%;
    display: flex;
    height: calc(100vh - 120px);
  }
  .playlist__footer button {
    font-size: 8px;
    padding: 3px;
    width: 80%;
  }
  .nav__img-wrap {
    margin: 0;
  }
  .main__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 80px;
  }
  .nav__item {
    margin: 0;
  }
}

@media (max-width: 768px) {
  .content__wrap {
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 450px) {
  .header__user-bar-name {
    font-size: 10px;
  }
  ::-webkit-input-placeholder {
    opacity: 0;
  }
}

@media (max-width: 360px) {
  .header__logo-wrap img {
    width: 30px;
  }
  .playlist__footer button {
    font-size: 5px;
  }
}
